@import '../node_modules/primeicons/primeicons.css';
@import '../node_modules/primeng/resources/primeng.min.css';
@import 'styles/variables';
@import "node_modules/bootstrap/scss/bootstrap";
@import 'styles/primeNgTheme';

body {
  background-image: url("assets/bg.svg");
  overflow: hidden;
}

.scroll-container {
  overflow: auto;
  display: block;
  max-height: calc(100vh - 56px);
  padding-bottom: 8px;
}

a {
  text-decoration: none;
}

* {
  ::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }

  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px transparent;
  }

  ::-webkit-scrollbar-thumb {
    background-color: $secondary;
    outline: 1px solid $secondary;
    border-radius: 16px;
    margin-top: -12px;
    margin-bottom: -12px;
  }
}

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
  overflow: hidden;
  flex-direction: column;

  ul {
    padding: 0;
    width: 100%;
    position: relative;

    li:hover {
      button, a {
        color: $primary;
      }
    }

    li {
      list-style: none;
      text-align: center;
      width: 100%;

      button, a {
        color: $secondary;
        width: 100%;
        text-decoration: none;
        font-size: 3em;
        padding: 5px 20px;
        display: inline-flex;
        justify-content: center;
        font-weight: 700;
        transition: 0.5s;
        background: transparent;
        border: none;

        &:before {
          content: "";
          position: absolute;
          top: 50%;
          left: 40%;
          transform: translate(-50%, -50%);
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 3em;
          color: rgba(0, 0, 0, 0.1);
          border-radius: 50%;
          z-index: -1;
          opacity: 0;
          font-weight: 900;
          text-transform: uppercase;
          letter-spacing: 500px;
          transition: letter-spacing 0.5s, left 0.5s;
        }

        &:hover:before {
          content: attr(data-text);
          opacity: 1;
          left: 50%;
          letter-spacing: 10px;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}

@media screen and (max-width: 960px) {
  #crud-table .p-datatable-tbody > tr > td:not(.edit-column) {
    width: inherit !important;
  }
  #crud-table .p-datatable-tbody > tr > td.edit-column {
    width: 100px !important;
  }
}

.p-confirm-popup-footer {
  display: flex;
  justify-content: space-between;

  button {
    width: 40% !important;
    display: flex;
  }
}

.p-float-label {
  * {
    width: 100%;
  }
}
