<p-card>
  <div *ngIf="robots$ | async as robots; else loading" class="row">
    <p-table (onSort)="sort($event)" [sortField]="sortField"
             [sortOrder]="sortOrder" [value]="robots" class="col-12" dataKey="id"
             selectionMode="single" styleClass="p-datatable-striped">
      <ng-template pTemplate="caption">
        <div class="table-actions row justify-content-between" style="margin-bottom: 4px">
          <div class="col col-auto">
            <button (click)="openDialog()" class="p-button-text" icon="pi pi-check" iconPos="left" label="New Robot"
                    pButton></button>
          </div>
          <div class="col">
            <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
              <!--            (input)=""-->
                <input pInputText placeholder="Search keyword" type="text"/>
            </span>
          </div>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="ID" style="display:table-cell!important">ID
            <p-sortIcon field="ID"></p-sortIcon>
          </th>
          <th pSortableColumn="Name" style="display:table-cell!important">Name
            <p-sortIcon field="Name"></p-sortIcon>
          </th>
          <th pSortableColumn="Location" style="display:table-cell!important">Location
            <p-sortIcon field="Location"></p-sortIcon>
          </th>
          <th pSortableColumn="State" style="display:table-cell!important">State
            <p-sortIcon field="State"></p-sortIcon>
          </th>
        </tr>
      </ng-template>
      <ng-template let-robot pTemplate="body">
        <tr (click)="onRowSelect(robot)">
          <td>{{robot.id}}</td>
          <td>{{robot.name}}</td>
          <td>{{robot.location}}</td>
          <td>{{robot.state}}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>

  <ng-template #loading>
    <p-table [customSort]="true" [value]="[1,2,3,4,5,6,7,8,9,10]" class="col-12" dataKey="id" responsiveLayout="scroll"
             styleClass="p-datatable-striped">
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="ID">ID
            <p-sortIcon field="ID"></p-sortIcon>
          </th>
          <th pSortableColumn="Name">Name
            <p-sortIcon field="Name"></p-sortIcon>
          </th>
          <th pSortableColumn="Location">Location
            <p-sortIcon field="Location"></p-sortIcon>
          </th>
          <th pSortableColumn="State">State
            <p-sortIcon field="State"></p-sortIcon>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body">
        <tr>
          <td>
            <p-skeleton></p-skeleton>
          </td>
          <td>
            <p-skeleton></p-skeleton>
          </td>
          <td>
            <p-skeleton></p-skeleton>
          </td>
          <td>
            <p-skeleton></p-skeleton>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </ng-template>
</p-card>

<p-dialog (visibleChange)="closeDialog()"
          [breakpoints]="{'960px': '75vw', '640px': '100vw'}"
          [closeOnEscape]="true"
          [modal]="true"
          [style]="{width: '50vw'}"
          [visible]="showDialog$ | async"
          header="New Robot">
  <form>
      <span class="p-float-label">
            <input [(ngModel)]="dialogRobot.name" id="name" name="name" pInputText type="text">
            <label for="name">Name</label>
        </span>
  </form>
  <ng-template pTemplate="footer">
    <div class="row justify-content-between">
      <div class="col col-auto">
        <button (click)="closeDialog()" class="p-button-text" label="Cancel" pButton></button>
      </div>
      <div class="col col-auto">
        <button (click)="createRobot()" label="Create Robot" pButton></button>
      </div>
    </div>
  </ng-template>
</p-dialog>
