<header>
  <nav>
    <p-toolbar [classList]="['toolbar']">
      <div *ngIf="breadcrumbs$ | async as breadcrumbs else loadingSidebar" class="p-toolbar-group-left">
        <p-breadcrumb [home]="home" [model]="breadcrumbs"></p-breadcrumb>
      </div>
      <ng-template #loadingSidebar>
        <p-breadcrumb [model]="[]"></p-breadcrumb>
      </ng-template>
      <div class="p-toolbar-group-right">
        <em (click)="openSidebar()" class="p-toolbar-separator pi pi-bars mr-2" style="cursor: pointer"
            style="vertical-align: middle"></em>
      </div>
    </p-toolbar>
  </nav>
</header>
<p-sidebar (close)="collapseSidebar()" [(visible)]="sidebarVisible" [fullScreen]="true">
  <h1>Navigation</h1>
  <a href="/">Home</a>
  <a href="/robots/">Robots</a>
</p-sidebar>
<!--<header>-->
<!--  <nav-->
<!--    class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3"-->
<!--  >-->
<!--    <div class="container">-->
<!--      <a class="navbar-brand" [routerLink]="['/']">bnl_dark_api</a>-->
<!--      <button-->
<!--        class="navbar-toggler"-->
<!--        type="button"-->
<!--        data-toggle="collapse"-->
<!--        data-target=".navbar-collapse"-->
<!--        aria-label="Toggle navigation"-->
<!--        [attr.aria-expanded]="isExpanded"-->
<!--        (click)="toggle()"-->
<!--      >-->
<!--        <span class="navbar-toggler-icon"></span>-->
<!--      </button>-->
<!--      <div-->
<!--        class="navbar-collapse collapse d-sm-inline-flex justify-content-end"-->
<!--        [ngClass]="{ show: isExpanded }"-->
<!--      >-->
<!--        <ul class="navbar-nav flex-grow">-->
<!--          <li-->
<!--            class="nav-item"-->
<!--            [routerLinkActive]="['link-active']"-->
<!--            [routerLinkActiveOptions]="{ exact: true }"-->
<!--          >-->
<!--            <a class="nav-link text-dark" [routerLink]="['/']">Home</a>-->
<!--          </li>-->
<!--          <li class="nav-item" [routerLinkActive]="['link-active']">-->
<!--            <a class="nav-link text-dark" [routerLink]="['/counter']"-->
<!--              >Counter</a-->
<!--            >-->
<!--          </li>-->
<!--          <li class="nav-item" [routerLinkActive]="['link-active']">-->
<!--            <a class="nav-link text-dark" [routerLink]="['/fetch-data']"-->
<!--              >Fetch data</a-->
<!--            >-->
<!--          </li>-->
<!--        </ul>-->
<!--        <app-login-menu></app-login-menu>-->
<!--      </div>-->
<!--    </div>-->
<!--  </nav>-->
<!--</header>-->
