<header>
  <nav>
    <p-toolbar [classList]="['toolbar']">
      <div *ngIf="breadcrumbs$ | async as breadcrumbs else loadingSidebar" class="p-toolbar-group-left">
        <p-breadcrumb [home]="home" [model]="breadcrumbs"></p-breadcrumb>
      </div>
      <ng-template #loadingSidebar>
        <p-breadcrumb [model]="[]"></p-breadcrumb>
      </ng-template>
      <div class="p-toolbar-group-right">
        <div *ngIf="(isAuthenticated | async) === true" class="p-breadcrumb p-component">
          <ul>
            <li>
              <a (click)="showUserPopUp()" [routerLink]='["/"]' class="p-element p-menuitem-link ng-star-inserted"
                      title="Manage">Hello {{(userName | async)}}</a>
            </li>
          </ul>
        </div>
        <div *ngIf="(isAuthenticated | async) !== true" class="p-breadcrumb p-component">
          <ul>
            <li>
              <a [routerLink]='["/register"]' class="p-element p-menuitem-link ng-star-inserted">Register</a>
            </li>
            <li>
              <a [routerLink]='["/login"]' class="p-element p-menuitem-link ng-star-inserted">Login</a>
            </li>
          </ul>
        </div>
        <p-breadcrumb [home]="sidebar"></p-breadcrumb>
      </div>
    </p-toolbar>
  </nav>
</header>
<user-popup [showDialog]="userPopupVisible" (onDialogClosed)="closeUserPopUp()"></user-popup>
<p-sidebar (close)="collapseSidebar()" [(visible)]="sidebarVisible" [closeOnEscape]="true" [fullScreen]="true">
  <h1>Navigation</h1>
  <div *ngFor="let route of routes">
    <a (click)="collapseSidebar()" [routerLink]="route.url" class="card">
      <div class="row">
        <div class="col-md-4">
          <em [class]="route.icon"></em>
        </div>
        <div class="col-md-9">
          <div class="card-body">
            <h5 class="card-title">{{route.title}}</h5>
            <p class="card-text">{{route.text}}</p>
          </div>
        </div>
      </div>
    </a>
  </div>
</p-sidebar>
