<header *ngIf="(isAuthenticated | async) === true">
  <nav>
    <p-toolbar [classList]="['toolbar']">
      <div *ngIf="breadcrumbs$ | async as breadcrumbs else loadingSidebar" class="p-toolbar-group-left">
        <p-breadcrumb [home]="home" [model]="breadcrumbs"></p-breadcrumb>
      </div>
      <ng-template #loadingSidebar>
        <p-breadcrumb [model]="[]"></p-breadcrumb>
      </ng-template>
      <div class="p-toolbar-group-right">
        <div class="p-breadcrumb p-component">
          <ul>
            <li *ngIf="userName | async as username">
              <a #logoutButton
                 (click)="openLogoutDialog(logoutButton, username)"
                 class="p-element p-menuitem-link ng-star-inserted"
                 title="Manage"
              ><i class="pi pi-user"></i><span class="d-none d-md-inline">&nbsp;{{username}}</span></a>
              <p-confirmPopup [hideTransitionOptions]="'60ms'" [showTransitionOptions]="'60ms'"></p-confirmPopup>
            </li>
          </ul>
        </div>
        <p-breadcrumb [home]="sidebar"></p-breadcrumb>
      </div>
    </p-toolbar>
  </nav>
</header>
<user-popup (onDialogClosed)="closeUserPopUp()" [showDialog]="userPopupVisible"></user-popup>
<p-sidebar (window:keydown.esc)="collapseSidebar()" [(visible)]="sidebarVisible"
           [closeOnEscape]="true" [fullScreen]="true"
           [transitionOptions]="'125ms'"
>
  <div class="navigation">
    <h1>Where would you like to go?</h1>
    <br>
    <ul>
      <li *ngFor="let route of routes">
        <a (click)="collapseSidebar()" [attr.data-text]="route.title" [routerLink]="route.url">{{route.title}}</a>
      </li>
    </ul>
  </div>
</p-sidebar>
