<div *ngIf="(isAuthenticated | async) === true" class="p-breadcrumb p-component">
  <ul>
    <li>
      <a class="p-element p-menuitem-link ng-star-inserted"  [routerLink]='["/authentication/profile"]' title="Manage">Hello {{ userName | async }}</a>
    </li>
    <li>
      <a class="p-element p-menuitem-link ng-star-inserted"  [routerLink]='["/authentication/logout"]' [state]='{ local: true }' title="Logout">Logout</a>
    </li>
  </ul>
</div>
<div *ngIf="(isAuthenticated | async) !== true" class="p-breadcrumb p-component">
  <ul>
    <li>
      <a class="p-element p-menuitem-link ng-star-inserted"  [routerLink]='["/authentication/register"]' class="p-element p-menuitem-link ng-star-inserted">Register</a>
    </li>
    <li>
      <a class="p-element p-menuitem-link ng-star-inserted"  [routerLink]='["/authentication/login"]' class="p-element p-menuitem-link ng-star-inserted">Login</a>
    </li>
  </ul>
</div>
