// Variable overrides
$primary: #ff4900 !default;
$secondary: #144382 !default;
$success: #58a000 !default;
$info: #f71492 !default;
$warning: #ffd200 !default;
$danger: #ff0033 !default;
$light: #eeeeee !default;
$dark: #343434 !default;

$sidebar-bg: #343434;
