<list
  (dialogElementChanged)="dialogElementChanged($event)"
  [columnConfig]="columnConfig"
  [service]="userService"
  entityName="User"
>
  <div class="container">
    <div class="row">
      <div class="col-6">
        <span class="p-float-label">
          <input [(ngModel)]="dialogUser.firstName"
                 id="firstName"
                 maxlength="50"
                 minlength="3"
                 name="firstName"
                 pInputText
                 required
                 type="text"
          >
          <label for="firstName">Firstname</label>
        </span>
      </div>
      <div class="col-6">
        <span class="p-float-label">
          <input [(ngModel)]="dialogUser.name"
                 id="name"
                 maxlength="50"
                 minlength="3"
                 name="name"
                 pInputText
                 required
                 type="text"
          >
          <label for="name">Name</label>
        </span>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-6">
        <span class="p-float-label">
          <input [(ngModel)]="dialogUser.email"
                 id="email"
                 pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$"
                 maxlength="50"
                 minlength="3"
                 name="email"
                 pInputText
                 required
                 type="email"
          >
          <label for="email">E-Mail</label>
        </span>
      </div>
      <div class="col-6">
        <span class="p-float-label">
          <input [(ngModel)]="dialogUser.password"
                 id="password"
                 maxlength="50"
                 minlength="3"
                 name="password"
                 pInputText
                 required
                 type="password"
          >
          <label for="password">Password</label>
        </span>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-12">
        <span class="p-float-label">
          <select [(ngModel)]="dialogUser.jobDescription"
                  [selectedIndex]="dialogUser.jobDescription"
                  class="form-select"
                  id="jobDescription"
                  name="jobDescription"
                  required
          >
                      <option *ngFor="let type of jobDescriptions"
                              [ngValue]="asNumber(type.value)"
                      >{{type.index}}</option>
                    </select>
          <label for="jobDescription" style="top: -0.75rem; font-size: 12px;">Job</label>
        </span>
      </div>
    </div>
  </div>
</list>
