<div class="row">
  <p-card header="Patient-Informations" styleClass="overflow">
    <form #form="ngForm" *ngIf="patient$ | async as patient" class="pt-4">
      <div class="row">
        <div class="col-6">
        <span class="p-float-label">
          <input [(ngModel)]="patient.firstname"
                 id="firstName"
                 maxlength="50"
                 minlength="3"
                 name="firstName"
                 pInputText
                 required
                 type="text"
          >
          <label for="firstName">Firstname</label>
        </span>
        </div>
        <div class="col-6">
        <span class="p-float-label">
          <input [(ngModel)]="patient.name"
                 id="name"
                 maxlength="50"
                 minlength="3"
                 name="name"
                 pInputText
                 required
                 type="text"
          >
          <label for="name">Name</label>
        </span>
        </div>
      </div>

      <div class="row mt-4">
        <div class="col-6">
        <span class="p-float-label">
           <p-calendar [(ngModel)]="patient.birthday"
                       [dateFormat]="'dd.mm.yy'"
                       [maxDate]="now"
                       [required]="true"
                       id="birthday"
                       inputId="birthday"
                       name="birthday"
           ></p-calendar>
          <label for="firstName">Date of birth</label>
        </span>
        </div>
        <div class="col-6">
        <span class="p-float-label">
          <input [(ngModel)]="patient.socialSecurityNumber"
                 id="socialSecurityNumber"
                 name="socialSecurityNumber"
                 pInputText
                 pattern="^[7][5][6][.][\d]{4}[.][\d]{4}[.][\d]{2}$"
                 readonly
                 required
                 type="text"
          >
          <label for="socialSecurityNumber">Social Security Number</label>
        </span>
        </div>
      </div>
      <div class="row mt-4 flex-row-reverse">
        <div class="col-auto">
          <button (click)="savePatient(patient); form.form.markAsPristine()"
                  class="p-button-text w-100"
                  [disabled]="!form.dirty"
                  icon="pi pi-save"
                  iconPos="left" label="Save"
                  pButton
          ></button>
        </div>
      </div>
    </form>
  </p-card>
</div>
<div *ngIf="selectedStay" class="row mt-2">
  <div class="col-12">
    <list
      (backAction)="selectedStay = undefined"
      (dialogElementChanged)="dialogTherapy = $event"
      *ngIf="therapyServiceLoaded === true"
      [columnConfig]="columnConfigTherapies"
      [service]="therapyService"
      [staticFilter]="'stayId eq ' + selectedStay.id"
      [title]="'Stay ' + (selectedStay.enter | date:'d.M.yy') + ' - ' + (selectedStay.leave | date:'d.M.yy')"
      entityName="Therapy"
    >
      <div class="container">
        <div class="row">
          <div class="col-6">
            <span class="p-float-label">
              <p-inputNumber [(ngModel)]="dialogTherapy.medicineId"
                             [max]="4" [min]="1"
                             [required]="true"
                             id="medicine"
                             locale="de-CH"
                             mode="decimal"
                             name="medicine"
              ></p-inputNumber>
              <label for="medicine">Medicine</label>
            </span>
          </div>
          <div class="col-6">
            <span class="p-float-label">
              <p-inputNumber [(ngModel)]="dialogTherapy.medicineAmountPerIteration"
                             [min]="1"
                             [required]="true"
                             id="medicineAmountPerIteration"
                             locale="de-CH"
                             mode="decimal"
                             name="medicineAmountPerIteration"
              ></p-inputNumber>
              <label for="medicineAmountPerIteration">Amount per iteration</label>
            </span>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-6">
            <span class="p-float-label">
              <input [(ngModel)]="dialogTherapy.timesDone"
                     [readonly]="true"
                     pInputText
                     type="number"
                     id="timesDone"
                     name="timesDone"
              />
              <label for="timesDone">Times done</label>
            </span>
          </div>
          <div class="col-6">
            <span class="p-float-label">
              <p-inputNumber [(ngModel)]="dialogTherapy.totalTimesToBeHealed"
                             [min]="1"
                             [required]="true"
                             id="totalTimesToBeHealed"
                             locale="de-CH"
                             mode="decimal"
                             name="totalTimesToBeHealed"
              ></p-inputNumber>
              <label for="totalTimesToBeHealed">Times to be done</label>
            </span>
          </div>
        </div>
      </div>
    </list>
  </div>
</div>
<div *ngIf="!selectedStay" class="row mt-2">
  <div class="col-12">
    <list
      (dialogElementChanged)="dialogStay = $event"
      *ngIf="stayServiceLoaded === true"
      [columnConfig]="columnConfigStays"
      [service]="stayService"
      [staticFilter]="'patientId eq ' + patientId"
      entityName="Stay"
    >
      <div class="container">
        <div class="row">
          <div class="col-12">
            <span class="p-float-label">
              <input [(ngModel)]="dialogStay.reason"
                     id="reason"
                     maxlength="50"
                     name="reason"
                     pInputText
                     required
                     type="text"
              >
              <label for="reason">Reason</label>
            </span>
          </div>
        </div>

        <div class="row mt-4">
          <div class="col-6">
            <span class="p-float-label">
               <p-calendar [(ngModel)]="dialogStay.enter"
                           [dateFormat]="'dd.mm.yy'"
                           [required]="true"
                           id="enter"
                           inputId="enter"
                           name="enter"
               ></p-calendar>
              <label for="enter">Enter date</label>
            </span>
          </div>
          <div class="col-6">
            <span class="p-float-label">
               <p-calendar [(ngModel)]="dialogStay.leave"
                           [dateFormat]="'dd.mm.yy'"
                           [required]="true"
                           id="leave"
                           inputId="leave"
                           name="leave"
               ></p-calendar>
              <label for="enter">Planed leave date</label>
            </span>
          </div>
        </div>

        <div class="row mt-4">
          <div class="col-12">
            <span class="p-float-label">
              <input [(ngModel)]="dialogStay.roomId"
                     id="room"
                     name="room"
                     pInputText
                     required
                     type="number"
              >
              <label for="room">Room</label>
            </span>
          </div>
        </div>
      </div>
    </list>
  </div>
</div>
